body {
  background-color: #FFFFFF;
  margin: 40px;
  font-family: helvetica;
  text-align: left;
}

header {
	width: 100%;
	background-color: #005EB8;
	color: white;
	padding: 15px;
	margin-left: -50px;
	top:0;
	font-size: 30px;
	text-align: center;
	position: fixed;
	height: 40px;
	display: flex;
	justify-content: space-between;
}

a.headerlink {
	font-size: 10px;
	color: #FFFFFF;
}

#below_header {
	margin-top: 80px;
}

#indexPage {
  text-align: center;
}

div.flex {
	display: flex;
}

div.left {
	float: left;
	width: 50%;
	height: 300px;
	padding-right: 0%;
	text-align: center;
}

div.right {
	float: right;
	width: 50%;
	height: 300px;
	text-align: center;
}

div.third {
	float: left;
	width: 33%;
	height: 300px;
	text-align: center;
}

#left60 {
	float: left;
	width: 60%;
	text-align: left;
}

#right40 {
	float: right;
	width: 40%;
	text-align: left;
}

#centre {
  text-align: center;
}

div.box {
  padding: 10px;
}

h1 {
	width: 100%;
	background-color: #005EB8;
	color: white;
	padding: 10px 20px 10px 20px;
	margin-top: -10px;
	margin-right: -10px;
	margin-left: -10px;
}

table {
	font-size: 12px;
	text-align: left;
	border-spacing: 0px;
}

th {
	padding: 5px;
	background-color: #005EB8;
	color: white;
	height: 40px;
}

td {
	padding: 5px;
	border-bottom: 1px solid;
	border-color: #005EB8;
}

table.form {
	margin-left:auto;
	margin-right:auto;
	font-size: 12px;
	text-align: left;
	border-spacing: 0px;
}

table.primer {
	float:left;
	width:55%;
	margin-left:auto;
	margin-right:auto;
	font-size: 12px;
	text-align: left;
	border-spacing: 0px;
}

table.failed {
	margin-left:auto;
	margin-right:auto;
	font-size: 12px;
	text-align: left;
	border-spacing: 0px;
}

table.regions {
	float:right;
	width:35%;
	margin-left:auto;
	margin-right:auto;
	font-size: 12px;
	text-align: left;
	border-spacing: 0px;
	padding: 10px;
}

th.primer {
	padding: 5px;
	background-color: #005EB8;
	color: white;
	height: 20px;
}

td.primer {
	font-size: 12px;
	padding: 5px;
	background-color: #005EB8;
	color: white;
	font-weight: bold;
}
th.failed {
	padding: 5px;
	background-color: #FF0038;
	color: white;
	height: 20px;
}

td.failed {
	font-size: 12px;
	padding: 5px;
	background-color: #FF0038;
	color: white;
	font-weight: bold;
}

td.left {
	text-align: right;
	padding: 5px;
}

td.right {
	text-align: left;
	padding: 5px;
}

tr:hover {
	background-color: #edf7f0;
}

input[type=file] {
  cursor: pointer;
}

hr {
	height: 2px;
	color: #005EB8;
	background-color: #005EB8;
	border: none;
}

input[type=submit] {
	background-color: #005EB8;
  border: 2px solid;
	border-color: #005EB8;
  border-radius: 4px;
  color: white;
  padding: 5px;
  text-decoration: none;
  cursor: pointer;
  width: 100px;
  vertical-align: middle;
}

input[type=submit]:hover {
	background-color: white;
	color: #005EB8;
	font-weight: bold;
}

input[type=submit]:active {
	background-color: white;
	color: #005EB8;
	font-weight: bold;
}

#revSubmit {
	background-color: white;
	color: #005EB8;
}

.colorButton {
	background-color: white;
	color: #005EB8;
}

#revSubmit:hover {
	background-color: #005EB8;
	color: white;
}

#smallButton {
  padding: 2px;
  width: 100px;
}

#wideButton {
  background-color: #005EB8;
  border: 2px solid;
  border-color: #005EB8;
  border-radius: 4px;
  color: white;
  padding: 10px;
  text-decoration: none;
  cursor: pointer;
  width: 130px;
}

#wideButton:hover {
	background-color: white;
	color: #005EB8;
	font-weight: bold;
}

#wideButton:active {
	background-color: white;
	color: #005EB8;
	font-weight: bold;
	box-shadow: inset 0 0 5px 2px #005EB8;
}

#revWideButton {
  background-color: white;
  border: 2px solid;
  border-color: #005EB8;
  border-radius: 4px;
	color: #005EB8;
  padding: 20px;
  text-decoration: none;
  cursor: pointer;
  width: 300px;
}

#revWideButton:hover {
  background-color: #005EB8;
	color: white;
}

#revWideButton:active {
	background-color: white;
	color: #005EB8;
	box-shadow: inset 0 0 5px 2px #005EB8;
}

.holdBottom {
  position: absolute;
  bottom: 5%;
}

.pop {
	color: #00802b;
	font-weight: bold;
	font-style: italic;
  text-decoration: none;
}

.pop-link {
	color: #00802b;
	font-weight: bold;
	font-style: normal;
  text-decoration: none;
}

.pop-link:hover {
	color: #00e64d;
	font-style: oblique;
}

.flash {
  border-radius:10px;
  border:1px solid #8ed9f6;
  font-family :Tahoma,Geneva,Arial,sans-serif;
  font-weight: bold;
  font-size:11px;
  padding:10px 10px 10px 36px;
  margin:10px;
  background:#e3f7fc
}

.flash-success{
  background:#c1f0c1;
  border:1px solid #a6ca8a;
}

.flash-warning{
  background:#ffecec;
  border:1px solid #f5aca6;
}

/* Start by setting display:none to make this hidden.
   Then we position it in relation to the viewport window
   with position:fixed. Width, height, top and left speak
   for themselves. Background we set to 80% white with
   our animation centered, and no-repeating */
.modal {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 ) 
                url('http://i.stack.imgur.com/FhHRx.gif') 
                50% 50% 
                no-repeat;
}

/* remove scrollbar with overflow:hidden */
body.loading .modal {
    overflow: hidden;   
}

/* make loading visible */
body.loading .modal {
    display: block;
}