<html>
    <head>
      <title>Zippy - Primer Design Tool</title>
      <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
      <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    </head>
    <body>
      <div>
        <a href="{{ url_for('index') }}"><header><b>Zippy: Primer Design and Storage</b></header></a>
      </div>
      <div id="below_header">
        <br>
      </div>
        {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
            {% for category, message in messages %}
              <div class="flash flash-{{category}}" align ="center">
                <p>{{message}}</p>
              </div>
            {% endfor %}
          {% endif %}
        {% endwith %}
       {% block content %}{% endblock %}
     <div>
     </div>
    </body>
</html>
