{% extends "base.html" %}
{% block content %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script>
      $(function(){
            $('input:submit').click(function(){
                $(this).val('Please wait...');
                $(this).attr('disabled', 'disabled');
                $('.hideOnLoad').hide();
                $body.addClass("loading");
                $(this).parents('form').submit();
            });
      });
      $(window).load(function(){
            $('input:submit').removeAttr('disabled');
            $body.removeClass("loading");
      });
    </script>
    <script>
    window.onmousedown = function (e) {
        var el = e.target;
        if (el.tagName.toLowerCase() == 'option' && el.parentNode.hasAttribute('multiple')) {
            e.preventDefault();

            // toggle selection
            if (el.hasAttribute('selected')) el.removeAttribute('selected');
            else el.setAttribute('selected', '');

            // hack to correct buggy behavior
            var select = el.parentNode.cloneNode(true);
            el.parentNode.parentNode.replaceChild(select, el.parentNode);
        }
    }
    </script>
    <!-- <div id="indexPage" class="hideOnLoad"> -->
    <div id="indexPage">
        <div class="left">
            <form action="{{ url_for('upload') }}" method="post" enctype="multipart/form-data">
                <table class="form">
                    <tr><th colspan="2"><h3>Batch PCR</h3></th></tr>
                    <tr>
                        <td class="left">
                            <span class="pop">SNPpy variants</span><br>
                            <span class="pop">Missed Regions</span><br>
                            <span class="pop">Primers</span>
                        </td>
                        <td class="right">
                            <input type="file" name="variantTable"><br>
                            <input type="file" name="missedRegions"><br>
                            <input type="file" name="singleGenes">
                        </td>
                    </tr><tr>
                        <td class="left"><span class="pop">Worksheet identifier</span></td>
                        <td class="right"><input type="text" name="outfile"></td>
                    </tr><tr>
                        <td class="left">
                            <span class="pop">Design parameter sets</span><br>
                        </td>
                        <td class="right">
                            <select name="tiers" multiple="tiers">
                                {% for o in designtiers %}
                                <option value="{{ o[0] }}" {{ o[1] }}>{{ o[2] }}</option>
                                {% endfor %}
                            </select>
                        </td>
                    </tr><tr>
                        <td class="left"><span class="pop">Design strategy</span><br></td>
                        <td class="right">
                            <input type="checkbox" name="predesign" value="True" checked>Exon Amplicons<br>
                            <input type="checkbox" name="design" value="True" checked>Variant Amplicons<br>
                        </td>
                    </tr>
                </table><br>
                <input type="submit" value="Upload"><br><br>
            </form>
        </div>
        <div class="right">
            <form action="{{ url_for('adhocdesign') }}" method="post" enctype="multipart/form-data">
                <table class="form">
                    <tr><th colspan="2"><h3>Primer Design/Query</h3></th></tr>
                    <tr>
                        <td class="left">
                            <span class="pop">BED, VCF, GenePred</span><br>
                            or <span class="pop">Chromosome:Start-End:[+-]</span><br>
                            (optional second locus for gap-PCR)<br>
                        </td>
                        <td class="right">
                            <input type="file" name="filePath"><br>
                            <input type="text" name="locus">Target/Breakpoint<br>
                            <input type="text" name="gap">(Breakpoint)
                        </td>
                    </tr><tr>
                        <td class="left">
                            <span class="pop">Design parameter sets</span><br>
                        </td>
                        <td class="right">
                            <select name="tiers" multiple="tiers">
                                {% for o in designtiers %}
                                <option value="{{ o[0] }}" {{ o[1] }}>{{ o[2] }}</option>
                                {% endfor %}
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td class="left"><span class="pop">Design strategy</span><br></td>
                        <td class="right">
                            <input type="checkbox" name="design" value="True" checked>design if not in database<br>
                            <input type="checkbox" name="store" value="True">store designed primers<br>
                        </td>
                    </tr>
                </table><br>
                <input type="submit" value="Submit"><br><br>
            </form>
        </div>
        <div>
            <p>&nbsp</p><br><br><hr><br><br>
        </div>
        <div class="left">
            <form action="{{ url_for('upload_locations') }}" method="post" enctype="multipart/form-data">
                <table class="form">
                    <tr>
                        <th colspan="2"><h3>Update Storage Locations</h3></th>
                    </tr>
                    <tr>
                        <td class="left">
                            <span class="pop">CSV file</span><br>
                            (PrimerName,Box,Well)
                        </td>
                        <td class="right"><input type="file" name="locationsheet"></td>
                    </tr>
                </table><br><br>
                <input type="submit" id="revSubmit" value="Upload">
            </form>
        </div>
        <div class="right">
            <form action="{{ url_for('import_primers') }}" method="post" enctype="multipart/form-data">
                <table class="form">
                    <tr><th colspan="2"><h3>Validate and import Primer Pairs</h3></th></tr>
                    <tr>
                        <td class="left">
                            <span class="pop">Primer Sequences (FASTA)</span><br>
                            Names must be suffixed with _fwd or _rev<br>
                        </td>
                        <td class="right">
                            <input type="file" name="filePath"><br>
                            <span class="pop">-or-</span><br/>
                            <textarea name="primers" rows="6" cols="30"
                                placeholder=">primer1_fwd&#10;ACGTACGTACGT&#10;>primer1_rev&#10;GTCAGTCAGTCA&#10;"></textarea><br>
                            <input type="checkbox" name="validate" value="True" checked>Validate primers<br>
                        </td>
                    </tr>
                </table><br>
                <input type="submit" id="revSubmit" value="Upload"><br><br>
            </form>
        </div>
    </div>
{% endblock %}
